Package: com.mowang.kbglow.prefs
Name: KBGlow Preferences
Version: 1.0.2
Architecture: iphoneos-arm
Description: KBGlow 偏好设置面板
Maintainer: MoWang
Author: MoWang
Section: Tweaks
Depends: preferenceloader
