{
    items = (
        { cell = PSGroupCell; label = "三星风格彩虹键盘光效"; },
        { cell = PSSwitchCell; default = 1; key = Enabled; label = "启用光效"; },
        { cell = PSLinkListCell; default = 0; key = Mode; label = "光效模式"; validTitles = ("动态彩虹流光", "静态彩虹", "呼吸光效"); validValues = (0,1,2); },
        { cell = PSSliderCell; default = 0.45; key = Speed; label = "动画速度"; min = 0.05; max = 1.0; showValue = 1; },
        { cell = PSSliderCell; default = 0.85; key = Brightness; label = "光效亮度"; min = 0.1; max = 1.0; showValue = 1; },
        { cell = PSSliderCell; default = 0.72; key = Opacity; label = "光效透明度"; min = 0.1; max = 1.0; showValue = 1; },
        { cell = PSSwitchCell; default = 1; key = RippleEnabled; label = "按键扩散波纹"; },
        { cell = PSSwitchCell; default = 1; key = NativeKeyboard; label = "原生键盘"; },
        { cell = PSSwitchCell; default = 1; key = WeChatKeyboard; label = "微信输入法"; },
        { cell = PSGroupCell; label = "重启键盘应用后生效部分设置"; }
    );
}
