<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>entry</key>
    <dict>
        <key>bundle</key>
        <string>com.minis.rainbowkeyboard.prefs</string>
        <key>cell</key>
        <string>PSLinkCell</string>
        <key>detail</key>
        <string>RKBRootListController</string>
        <key>label</key>
        <string>彩虹键盘光效</string>
        <key>icon</key>
        <string>RainbowKeyboard</string>
    </dict>
</dict>
</plist>
